<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
</head>
<body>
        <form action="/product/create" method="post">
            <input type="text"  placeholder="title" name="title">
            <input type="number" placeholder="price" name="price">
            <input type="url" placeholder="img" name="img">
            <input type="text" placeholder="category" name="category">
            <input type="submit" >
        </form>
</body>
<script>
    // fetch("/products")
    // .then((res)=>res.json())
    // .then((data)=>console.log(data))
    // .catch((error)=>console.log(error))
</script>
</html>